
div{
    width: 300px;
    height: 40px;
    background-color: aquamarine;
    margin: 10px 0;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    visibility: hidden;
}

#reset{
    margin-left: 120px;
    visibility: hidden;
}